<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.11</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  	<key>CFBundleDocumentTypes</key>
  	<array>
  		<dict>
  			<key>CFBundleTypeExtensions</key>
  			<array>
  				<string>pod</string>
  			</array>
  			<key>CFBundleTypeIconFile</key>
  			<string>projectlibre.icns</string>
  			<key>CFBundleTypeName</key>
  			<string>ProjectLibre</string>
  			<key>CFBundleTypeOSTypes</key>
  			<array>
  				<string>****</string>
  			</array>
  			<key>CFBundleTypeRole</key>
  			<string>Editor</string>
  		</dict>
  		<dict>
  			<key>CFBundleTypeExtensions</key>
  			<array>
  				<string>mpp</string>
  			</array>
  			<key>CFBundleTypeName</key>
  			<string>Microsoft Project</string>
  			<key>CFBundleTypeOSTypes</key>
  			<array>
  				<string>****</string>
  			</array>
  			<key>CFBundleTypeRole</key>
  			<string>Editor</string>
  		</dict>
  		<dict>
  			<key>CFBundleTypeExtensions</key>
  			<array>
  				<string>xml</string>
  			</array>
  			<key>CFBundleTypeName</key>
  			<string>Microsoft Project</string>
  			<key>CFBundleTypeOSTypes</key>
  			<array>
  				<string>****</string>
  			</array>
  			<key>CFBundleTypeRole</key>
  			<string>Editor</string>
  		</dict>
  	</array>
  <key>CFBundleExecutable</key>
  <string>ProjectLibre</string>
  <key>CFBundleIconFile</key>
  <string>ProjectLibre.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.projectlibre1.main</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>ProjectLibre</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>@version@</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See https://developer.apple.com/app-store/categories/ for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.utilities</string>
  <key>CFBundleVersion</key>
  <string>@version@</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2012-2025</string>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>The application ProjectLibre is requesting access to the microphone.</string>
 </dict>
</plist>


